div#Header {
  background: #036;
}

#Tabs a:link,
#Tabs a:visited {
  border: 1px solid #036;
  color: #fff;
  background-color: #1A4F85;
  border-bottom: 1px solid #1A4F85;
}

#Tabs a:hover {
	color: #fff;
	background: #1D64AD;
	border-bottom: 1px solid #1D64AD;
}

#Tabs ul a:link.current, #Tabs ul a:visited.current {
	color: #090;
}

#Tabs li.logout a:link,
#Tabs li.logout a:visited {
  color: #8099b3;
}
